:root {
    --main-bg-color: #8ae1fc;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color:#111;
}

a {
  color:black;
  text-decoration:none;

}
hr {
    margin:0;
    padding:0;
}
#username > .role {
    color:#666;
    font-size:8pt;
}
.footer {
    position:fixed;
    bottom:0;
    left:0;
    width: 15%;
    text-align:center;
    color:#f9f9f9;
}
#user-block {
    width: 15%;
    position: fixed;
    height: 200px;
    top: 0;
    left: 0;
    color: white;
    background-color: #111;
    overflow: hidden;
}

.user-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    padding: 0;
    float:left;
    margin:15px;
}

#main-nav {
    background-color: #050401;
}

#navbar {
    position: fixed;
    left: 0;
    top: 200px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #050401;
    font-size: 15pt;
    min-width: 100px;
    width: 15%;
    height: calc(100vh - 200px);
}

#navbar > li {
    text-align: center;
}

#navbar > li a {
    display: block;
    color: #8ae1fc;
    padding: 8px 0;
    text-decoration: none;
}

#navbar > li a:hover {
    color: #050401;
    background-color: #a9ffcb;
}

.clear {
    clear: both;
}
#top-nav {


}
.nav {
    list-style-type:none;
}
.nav > li {
    display:inline-block;
}
.nav > li >  a{
    padding:8px 10px;
    color:white;
}
.nav > li >  a:hover {
    background-color:#050401;
    color:#8ae1fc;
}
.content {
    width: 60%;
    margin: 0 auto;
    position: relative;
    height: auto;
    padding: 10px;
    position: relative;
}

.post {
    background-color: white;
    border-radius: 3px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 0px 1px #050401;
}
#group-desc {
    background-color:#50514F;
    color:#F6F8FF;
    overflow:hidden;
    padding:5px 10px;
    margin-bottom:5px;
}
#group-desc > .header {
    background-position:center center;
    background-repeat:no-repeat;
    width:100%;
    height:320px;
    background-size:cover;
}
.post > .poster-info {
  clear:both;
}
.poster-info  a {
  display:block;
  color:#800e13;
}
.poster-info  a:hover {
  text-decoration:underline;
}
.poster-info > .poster-image{
  width:40px;
  height:40px;
  float:left;
  margin:4px;
}
.names {
    padding-top:15px;
}
.poster-info  .poster-name {
  font-size:14pt;
  display:inline-block;
}
.poster-info  .post-location{
  color:grey;
  font-size:10pt;
  padding-top:10px;
  display:inline-block;
}
.post > .text {
    padding: 5px 10px;
}

.event-post {
    padding: 0;
}

.event-post > .event-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.button {
    border: none;
    display:inline-block;
    background-color: inherit;
    padding: 10px;
    border-radius:3px;
}

.button:hover {
    text-decoration: underline;
    background-color: #a9ffcb;
}
.group-card {
    background-color:#f1fffa;
    width: 30%;
    height:30%;
    border-radius:4px;
    box-shadow: 0px 0px 0px 1px grey;
    display:inline-block;
   text-align:center; 
   transition:.12s ease-in-out;
   overflow:none;
   margin:5px;
}
.group-card  .group-img{

    background-position:center center;
    background-repeat:no-repeat;
    width:100%;
    height:300px;
    background-size:cover;
}
.group-card:hover {
    transform: scale(1.01);
}
#join-button{
    width:100px;
    height:40px;
    background-color:#27FB6B;
    color:#111111;
    border:none;
    margin-bottom:5px;
}
#join-button:hover{
    background-color:#058C42;
    cursor:pointer;
}
#join-button:disabled, #join-button.leave{
    background-color:#bbb;
}
#join-button.leave {
    background-color:#DB162F;
    cursor:pointer;
}
#post-box{
    background-color: white;
    border-radius: 3px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 0px 1px #050401;
}
textarea.post-text {
    font-family:sans-serif;
    width:100%;
    border:none;
}