:root {
    --main-bg-color: #8ae1fc;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color:#111;
    color:white;
}

a {
  color:black;
  text-decoration:none;

}
hr {
    margin:0;
    padding:0;
}
#username a {
    color:white;
}
#username  .role {
    color:#666;
    font-size:8pt;
}
.footer {
    position:fixed;
    bottom:0;
    left:0;
    width: 15%;
    text-align:center;
    color:#f9f9f9;
}
#user-block {
    width: 15%;
    position: fixed;
    height: 125px;
    top: 0;
    left: 0;
    color: white;
    background-color: #111;
    overflow: hidden;
}

.user-image {
    width: 60px;
    height: 60px;
    overflow: hidden;
    padding: 0;
    float:left;
    margin:15px;
}
.settings-icon {
    position:absolute;
    right: 10px;
    bottom:15px;
}
.logout-icon {
    position:absolute;
    left: 10px;
    bottom:15px;
}
#main-nav {
    background-color: #050401;
}

#navbar {
    position: fixed;
    left: 0;
    top: 125px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #050401;
    font-size: 15pt;
    min-width: 100px;
    width: 15%;
    height: calc(100vh - 125px);
}

#navbar  li {
    text-align: center;
}
#navbar li a i {
    font-size:15pt;
}
#navbar  li a {
    display: block;
    color: #F9DC5C;
    padding: 8px 0;
    text-decoration: none;
}

#navbar  li a:hover {
    color: #465362;
    background-color: #F9DC5C;
}

.clear {
    clear: both;
}
#navbar .lower-bar {
    position:absolute;
    width:100%;
    bottom:25px;
}
#top-nav {


}
.nav {
    list-style-type:none;
}
.nav > li {
    display:inline-block;
}
.nav > li >  a{
    padding:8px 10px;
    color:white;
}
.nav > li >  a:hover {
    background-color:#050401;
    color:#8ae1fc;
}
.content {
    width: 60%;
    margin: 0 auto;
    position: relative;
    height: auto;
    padding: 10px;
    position: relative;
}

.post {
    color:black;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 0px 1px #050401;
}
#group-desc {
    background-color:#50514F;
    color:#F6F8FF;
    overflow:hidden;
    padding:5px 10px;
    margin-bottom:5px;
}
#group-desc > .header {
    background-position:center center;
    background-repeat:no-repeat;
    width:100%;
    height:320px;
    background-size:cover;
}
.tournament-box{
    background-color: white;
    border-radius: 3px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 0px 1px #050401;
    padding:6px;
    max-height:300px;
  overflow: hidden;
  color:black;
}
.tournament-box .tourney-image {
    background-image:url('/rsc/images/group-default.png');
    background-position:center center;
    background-repeat:no-repeat;
    width:200px;
    height:100px;
    display:inline-block;
    background-size:cover;
}
.tournament-box a {
  color:#800e13;
  font-size:32pt;
    display:inline-block;
    vertical-align: top;
}
.tournament-box a>span {
  display:block;
  color:#999;
  font-size:10pt;
}
.tournament-box a:hover{
    text-decoration: underline;
}
.tournament-box .games {
    float:right;
}.tournament-box .games .game-icon {
    width:50px;
    height:50px;
}
.tournament-box .description{
    margin:0;
    vertical-align: top;
}
.post > .poster-info {
  clear:both;
}
.poster-info  a {
  display:block;
  color:#800e13;
}
.poster-info  a:hover {
  text-decoration:underline;
}
.poster-info > .poster-image{
  width:40px;
  height:40px;
  float:left;
  margin:4px;
}
.names {
    padding-top:15px;
}
.poster-info  .poster-name {
  font-size:14pt;
  display:inline-block;
}
.poster-info  .post-location{
  color:grey;
  font-size:10pt;
  padding-top:10px;
  display:inline-block;
}
.post > .text {
    padding: 5px 10px;
}

.event-post {
    padding: 0;
}

.event-post > .event-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.button {
    border: none;
    display:inline-block;
    background-color: inherit;
    padding: 10px;
    border-bottom-left-radius: 3px;
}

.button:hover {
    background-color: #F9DC5C;
}
.group-card {
    width: 30%;
    border-radius:4px;
    display:inline-block;
    text-align:center; 
    transition:.12s ease-in-out;
    overflow:hidden;
    margin:5px;
}
.group-card  .group-img{
    background-color:#F4FFFD;
    background-position:center center;
    background-repeat:no-repeat;
    width:100%;
    height:150px;
    background-size:cover;
}
.group-card:hover {
    transform: scale(1.01);
}
.group-img > div {
    background-color: rgba(255,255,255,.75);
    width: 100%;
    font-size: 20px;
}
#join-button{
    width:100px;
    height:40px;
    background-color:#27FB6B;
    color:#111111;
    border:none;
    margin-bottom:5px;
}
#join-button:hover{
    background-color:#058C42;
    cursor:pointer;
}
#join-button:disabled, #join-button.leave{
    background-color:#bbb;
}
#join-button.leave {
    background-color:#DB162F;
    cursor:pointer;
}
#post-box{
    background-color: white;
    border-radius: 3px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 0px 1px #050401;
}
textarea {
    font-family:sans-serif;
    width:100%;
}
textarea.post-text {
    font-family:sans-serif;
    width:inherit;
    border:none;
    width:100%;
    box-sizing: border-box;
    resize: vertical;
}
#user-content{
    color:white;
}
.textedit, .user-textedit{
    display:block;
    border:none;
    background-color:#222;
    color:white;
    font-size:20pt;
    margin-bottom:7px;
    padding:6px;
}
.textedit{
    font-size:14pt;
}
.game-box {
    display:none;
}
.game-label>img {
    width:50px;
    height:50px;
}
.game-box:checked + .game-label>img {
    background-color:#27FB6B;
}
.landing-submit{
    width:100px;
    padding: 5px 10px;
    display:block;
    margin: 5px;
    background-color:#036D19;
    border:none;
    color:#27FB6B;
}
.button-add {
    border: none;
    display:inline-block;
    padding: 10px;
    border-radius:3px;
    background-color:#F9DC5C;
    font-size:14px;
}

.button-add:hover {
    background-color: #465362;
    color:#F9DC5C;
}
.material-icons {
    font-size:inherit;
}
.button-add > i{

    font-size:14px;
}